$color-blackgray: #212121;
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
body{
    width: 100%;
    overflow-x: hidden;
    color: #000;
    word-wrap: break-word;
    transition: all 200ms ease-in;
}
a:hover{
    text-decoration: none !important;
}
#block-axelerant-branding{
   img {
      width: 100px;
      padding: 10px 0;
    }
}
#navbar {
    background-color: $color-blackgray;
    border-bottom: 1px solid #424242;
    max-height: 75px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
nav{
    ul{
        float: right !important;
        li{
            display: inline-block;
            margin: 21.5px 0 21.5px 10px;
            vertical-align: middle;
            width: auto;
            a{
                box-sizing: border-box;
                color: #757575;
                display: block;
                font-family: 'Montserrat',sans-serif;
                font-size: 18px;
                font-weight: 600;
                max-width: 200px;
                padding: 7px 10px !important;
                text-align: left;
                text-decoration: none;
                text-overflow: inherit;
                &:hover {
                    transition: all .5s;
                    background-color: #313131 !important;
                    color: white !important;
                  }
            }
        }
    }
}

}
.toolbar-fixed{
    #navbar {
        position: inherit;
    }
    .slider{
        margin:0;
    }
}
.slider {
    margin-top: 72px;
    min-height: 95vh;
    width: 100%;
    background: url(../images/Homepage-Agency-Success-Header.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    #block-texttyped-2 {
        margin: auto 35px;
        padding: 16% 10px;
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        .learn {
            font-family: 'Montserrat',sans-serif;
            margin: 0;
            margin-bottom: 0px;
            padding: 0;
            margin-bottom: 10px;
            font-size: 46px;
            line-height: 65px;
        }
        h2{
            font-size: 28px;
        }
        .btn{
            background:transparent;
            margin-top:30px;
            border: 2px solid #fc4c02;
            border-radius: 2px;
            box-sizing: border-box;
            color: #fc4c02;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            padding: 5px 10px;
            transition: background .5s;
            text-decoration: none; 
        }
    }
}
#block-axelerant-content {
    padding: 100px;
}
#block-views-block-we-ll-give-your-agency-block-1,#block-views-block-we-ll-give-your-agency-block-1-2{
    margin: 0 auto;
    padding: 60px 10px;
    max-width: 1180px;
    margin: 0 auto;
    .block-title{
        width: 33.3%; 
        float: left;
        font-family: Roboto,Helvetica,Arial,Sans-Serif; 
        font-weight: 400;
        line-height: 43px;
        padding-right: 27px; 
        margin-top: 61px;
    }
    .form-wrapper{
        width: 66.6%;
        float: right;
        .view-we-ll-give-your-agency{
            width: 100%;
            .view-content{
                display: inline-block;
                width: 100%;
                .views-row{
                    float: right;
                    display: block;
                    padding: 30px 10px;
                    text-align: center;
                    width: 32%;
                    &:hover{
                        background: #f5f5f5;
                    }
                    .views-field-field-we-give{
                        img{
                            margin-bottom: 10px
                        }
                    }
                    .views-field-title{
                        margin-bottom: 10px !important;
                        width: 100%;
                        margin: 0 auto;
                        padding: 0 5%;
                        a{
                            font-size: 24px;
                            font-family: 'Montserrat',sans-serif;
                            color: #fc4c02;
                            font-weight: 500;
                            &:hover{
                                color: #c93100;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }  
        }
    }
}
#block-views-block-agency-solutions-block {
    padding: 60px 0px;
    background: #f5f5f5;
    .block-title{
        font-family: 'Montserrat',sans-serif;
        text-transform: capitalize !important;
        margin-bottom: 10px !important;
        max-width: 1180px;
        float: none;
        margin: 0 auto;
        padding: 0px 10px;
    }
    .form-wrapper{
      max-width: 1180px;
      float: none;
      margin: 0 auto;
      padding: 0px 10px;
          .views-row{
              width: 33%;
              display: inline-block;
              margin-top: 10px;
              margin-bottom: 20px;
              .views-field.views-field-field-agency-solutions-image {
                margin-top: 10px;
                    img{
                       width:80px;
                       margin-bottom: 20px;
                    }
               }
               span{
                   a{
                    font-size: 24px;
                    font-family: 'Montserrat',sans-serif;
                    color: #fc4c02;
                    font-weight: 500;
                    margin-top: 10px;
                    &:hover{
                        color: #c93100;
                        cursor: pointer;
                        }
                    }
               }
               .views-field.views-field-field-agency-solution-descripti{
               color: #212121;
               font-family: Roboto,Helvetica,Arial,Sans-Serif;
               font-size: 18px;
               line-height: 1.5;
               text-align: left;
               word-wrap: break-word;
               margin: 10px 0;
               }
          }
    }
}
#block-views-block-stories-block-1{
        background: #f5f5f5;
        padding: 60px 0;
        .block-title{
            max-width: 1180px;
            padding: 0 10px;
            float: none;
            margin: 0 auto;
            margin-bottom: 10px !important;
            font-family: 'Montserrat',sans-serif; 
        }

        .form-wrapper{
            max-width: 1180px;
            padding: 0 10px;
            float: none;
            margin: 0 auto;
            .views-row{
                padding: 10px;
                vertical-align: top;
                width: 23%;  
                margin:0 .75%;
                display: inline-block;
                background: #fff;
                &:hover{
                 width: 24.5%; 
                 margin:0 .25%;
                 margin-top: 0px;
                 transition: all 200ms ease-in;
                 transform: scale(1.05);
                }
                img{
                    width: 100%;
                }
                .views-field.views-field-field-stories-title{
                    font-size: 18px;
                    font-family: 'Montserrat',sans-serif;
                    color: #fc4c02;
                    font-weight: 600;
                    margin-top: 10px;
                    &:hover{
                        color: #c93100;
                        cursor: pointer;
                        }
                    
                }
            }
        }
}
#block-views-block-we-collaborate-block{
    padding: 60px 0px;
    background: #212121;
    .block-title{
        font-family: Roboto,Helvetica,Arial,Sans-Serif;
        text-transform: capitalize !important;
        margin-bottom: 30px !important;
        max-width: 1180px;
        float: none;
        padding-left: 10px;
        margin: 0 auto;
        font-size: 26px;
        font-weight: normal;
        color: #757575;
    }
    .form-wrapper{
      max-width: 1180px;
      float: none;
      margin: 0 auto;
      padding: 0px 10px;
          .views-row{
              width: 18%;
              margin-right: 2%;
              display: inline-block;
              margin-top: 10px;
              &.views-row:nth-child(5n),.views-row:nth-child(10n),.views-row:nth-child(15n){
                  margin-right: 0 !important;
              }
              img{
                  width: 100%;
              }
          }
     
        
    }
}
#block-views-block-testimonial-block-1{
    padding: 60px 0px;
    background: #212121;
    .view-content{
        max-width: 1180px;
        float: none;
        margin: 0 auto;
        padding: 0px 10px;
    .views-row{
        width: 32%;
        display: inline-block;
        text-align: center;
        color: #fff;
        vertical-align: top;
        .views-field.views-field-field-testimonial-profile-image{
        img{
            width: 80px;
        }
        }
        .views-field.views-field-field-testimonial-profile-title{
            font-family: 'Montserrat',sans-serif;
            text-transform: capitalize !important;
            font-size: 18px;
            margin: 10px 0;
            font-weight: 600;
        }
        .views-field.views-field-field-testimonial-profile-design{
            color: #757575;
            font-size: 14px;
            margin: 5px 0;
        }
        .views-field.views-field-field-testimonial-profile-descri{
            box-sizing: border-box;
            font-family: Montserrat, Helvetica, Arial, Sans-serif;
            font-size: 16px !important; 
            font-style: italic;
            font-weight: 600;
            line-height: auto;
            margin: 0;
            padding: 20px;
            text-transform: inherit;
            text-align: center;
        }
        .views-field.views-field-field-testimonial-profile-logo{
            img{
            height: 80px;
            width: auto;
            }
        }
    }
}
}
#block-counter{
    max-width: 1190px;
    float: none;
    margin: 0 auto;
    padding: 60px 10px;
    .block-title{
        display: none;
    }
    div{
        display: inline-block;
        width: 100%;
        #counter{
            .span3{
                display: inline-block;
                width: 24.7%;
                h1{
                  font-size: 46px;
                  font-weight: 500;
                  padding-bottom: 5px;
                  font-family: 'Montserrat',sans-serif;
                }
                h3{
                  font-family: 'Montserrat',sans-serif;  
                  font-size: 22px;
                  font-weight: 500;
                }
            }
        }
    }

}
#block-weareaxelerant{
    max-width: 1190px;
    float: none;
    margin: 0 auto;
    padding: 60px 10px;
    .block-title{
        width: 47%;
        font-family: 'Montserrat',sans-serif;
        font-size: 26px;
        text-align: left;
        margin: 0;
        padding-left: 0;
    }
    div{
        h4{
            img{
                float: right;
                margin-top: -40px;
            }
        }
        p{
          padding: 10px 0;
          font-family: Roboto,Helvetica,Arial,Sans-Serif;
          font-size: 18px;
            span{
                padding-right: 30px;
                line-height: 20px;
            }
        }
        .We-are-Axelerant{
            display: inline-block;
            width: 15%;
            vertical-align: top;
            margin-right: 1.2%;
            h2{
                font-family: 'Montserrat',sans-serif;
            }
            h5{
                font-size: 20px;
                font-family: 'Montserrat',sans-serif;
                margin-top: 20px;
                line-height: 26px;
                font-weight: 500;
            }
        }
        .btn{
            background: #fff;
            margin-top:40px;
            border: 2px solid #fc4c02;
            border-radius: 2px;
            box-sizing: border-box;
            color: #fc4c02;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            padding: 5px 10px;
            transition: background .5s;
            text-decoration: none; 
        }
    }

}
#block-views-block-success-stories-front-block,#block-views-block-success-stories-front-block-1 {
    float: none;
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 10px;
    .block-title {
        display: none;
    }
    div{
        .view-content{
            .views-row{
                padding: 10px;
                vertical-align: top;
                width: 23%;
                margin: 0 .75%;
                display: inline-block;
                background: #fff;
                box-shadow: 0 1px 3px #bdbdbd;   
                &:hover{
                        width: 23.5%; 
                        margin:0 .75%;
                        margin-top: 0px;
                        transition: all 200ms ease-in;
                        transform: scale(1.05);
                        .views-field.views-field-field-success-stories-title{
                            font-size: 19px;
                            transition: all 200ms ease-in;
                            transform: scale(1);
                        }
                        .views-field.views-field-field-success-stories-descriptio{
                            transition: all 200ms ease-in;
                            transform: scale(1.02);
                            font-family: Roboto,Helvetica,Arial,Sans-Serif;
                        }
                      
                }             
                img{
                    width: 100%;
                }
                .views-field.views-field-field-success-stories-title{
                    font-size: 18px;
                    font-family: 'Montserrat',sans-serif;
                    color: #fc4c02;
                    font-weight: 600;
                    margin-top: 20px;
                    &:hover{
                        color: #c93100;
                        cursor: pointer;
                        }
                        a{
                            color: #fc4c02;
                        }
                    
                }
                .views-field.views-field-field-success-stories-descriptio{
                    color: #212121;
                    font-family: Roboto,Helvetica,Arial,Sans-Serif;
                    font-size: 18px;
                    line-height: 1.5;
                    text-align: left;
                    word-wrap: break-word;
                    margin-top: 10px
                }
            }
        }
    }
}
#block-views-block-success-stories-main-block {
    .block-title {
       font-size: 3em;
       color: #fff;
       font-family: 'Montserrat',sans-serif;
       padding: 14% 50px;
       width: 100%;
       margin: 0;
       background-image: url(https://www.axelerant.com/hubfs/Axelerant_Facelift_2017/Page%20Banners/Success-Stories-Header.jpg?t=1526453557582);
       &::after{
           content: "Explore Collaboration Examples";
           color: #fff;
           font-family: 'Montserrat',sans-serif;
           padding: 15% 50px;
           display: block;
           position: absolute;
           top: 50px;
           font-size: 18px;
           left: 0;
       }
    }
    div{
        .view-content{
            float: none;
            max-width: 1180px;
            margin: 0 auto;
            padding: 60px 10px;
            .views-row{
                padding: 10px;
                vertical-align: top;
                width: 23%;
                margin: 0 .75%;
                display: inline-block;
                background: #fff;
                box-shadow: 0 1px 3px #bdbdbd;   
                &:hover{
                        width: 23.5%; 
                        margin:0 .75%;
                        margin-top: 0px;
                        transition: all 200ms ease-in;
                        transform: scale(1.05);
                        .views-field.views-field-field-success-stories-title{
                            font-size: 19px;
                            transition: all 200ms ease-in;
                            transform: scale(1);
                        }
                        .views-field.views-field-field-success-stories-descriptio{
                            transition: all 200ms ease-in;
                            transform: scale(1.02);
                            font-family: Roboto,Helvetica,Arial,Sans-Serif;
                        }
                      
                }             
                img{
                    width: 100%;
                }
                .views-field.views-field-field-success-stories-title{
                    font-size: 18px;
                    font-family: 'Montserrat',sans-serif;
                    color: #fc4c02;
                    font-weight: 600;
                    margin-top: 20px;
                    &:hover{
                        color: #c93100;
                        cursor: pointer;
                        }
                        a{
                            color: #fc4c02;
                        }
                    
                }
                .views-field.views-field-field-success-stories-descriptio{
                    color: #212121;
                    font-family: Roboto,Helvetica,Arial,Sans-Serif;
                    font-size: 18px;
                    line-height: 1.5;
                    text-align: left;
                    word-wrap: break-word;
                    margin-top: 10px
                }
            }
        }
    }
}
.footer-container {
    background: #212121;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    padding: 60px 10px;
    #block-axelerant-menu{
    }
    nav h2{
        font-size: 18px;
    }
    .nav > li > a{
        color: #999;
        display: block;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0;
        &:hover{
            color: white;
            background: transparent;
        }
    }
}
.footer-wrapper {
    float: none;
    margin: 0 auto;
    padding: 60px 10px;
    background: url(../images/Employee-Collage.jpg);
    h2{
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        font-size: 28px;
    }
}
.fourthcolumn.col-md-4.columns {
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #212121;
    float: right;
    margin-top: -200px;
    padding: 20px;
    position: relative;
    text-align: left;
    z-index: 999;
    .block-title{
        font-family: 'Montserrat',sans-serif;
    }
    label {
        color: #212121;
        text-align: left;
        font-family: Roboto,Helvetica,Arial,Sans-Serif;
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        word-wrap: break-word;
        font-weight: 400;
    }
    input[type="text"],input[type="email"], input[type="tel"],select {
        border: 1px solid #e0e0e0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 100%;
        width: 100%;
        padding: 5px;
        color: #b7b5b5;
        height: 30px;
        font-size: 12px;
    }
    .description,div#edit-field-let-s-connect-today-0--description{
        color: #757575;
        list-style: none;
        font-size: 14px !important;
        margin-bottom: 30px;
    }
    #edit-name,#edit-mail,#edit-subject-wrapper,#edit-message-wrapper,.form-item-copy {
        display: none;
    }
    input{
        width: 100%;
    }
    textarea{
        width: 100%;
        box-sizing: border-box;
        display: block;
        font-family: 'Roboto',sans-serif;
        height: 80px !important;
        width: 100% !important;
        resize: none;
        padding: 10px;
        border: 1px solid #e0e0e0;
        color: #b7b5b5;
        height: 30px;
        font-size: 12px;

    }
    #edit-preview{
        display: none;
    }
    input#edit-submit {
        width: auto;
        margin: 30px 0;
        background: 0;
     background-color: rgba(0, 0, 0, 0);
    background-color: #fc4c02;
    border: 1px solid #c93100;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    transition: background .5s;
    text-decoration: none;
    }
    .form-item-field-consent-matters-to-us-may--value {
        display: flex;
        flex-wrap: wrap;
        #edit-field-consent-matters-to-us-may-value{
            order: 2;
            width: auto !important;
            height: 17px;
            margin-right: 10px;
        }
        .option{
            order: 1;
        }
        #edit-field-consent-matters-to-us-may-value--description{
            order: 3;
        }
    }
}
.js-form-item.form-item.js-form-type-textfield.form-item-name.js-form-item-name,.js-form-item.form-item.js-form-type-email.form-item-mail.js-form-item-mail{
    display: none;
}
.footer{
    background: #212121;
    color: #fff;
    font-family: Roboto,Helvetica,Arial,Sans-Serif;
    font-size: 18px;
    line-height: 1.5;
    .container{
        border-top: 1px #535353 solid;
        padding: 25px 0 70px 0;
        .social-sharing a {
            color: white;
            font-size: 20px;
        }
        .fa {
            margin-left: 10px;
        }
    
    }
  .hs_cos_wrapper.float-left {
      float: left;
   }  
   .social-sharing.float-right {
      float: right;
   }
}

#block-views-block-technologies-block-1{
.block-title {
    font-size: 3em;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    text-transform: capitalize !important;
    padding: 14% 50px;
    width: 100%;
    margin: 0;
    background-image: url(https://www.axelerant.com/hubfs/Axelerant_Facelift_2017/Page%20Banners/Technology%20Page/Technologies-Header-Desktop.jpg?t=1526480543654);
    &::after{
        content: "Achieve More With Means";
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        padding: 15% 50px;
        display: block;
        position: absolute;
        top: 50px;
        font-size: 18px;
        left: 0;
    }
 }
 .view-content{
 float: none;
 max-width: 1180px;
 margin: 0 auto;
 padding: 60px 10px;
 .views-field.views-field-field-technologies-title{
    font-size: 2em;
    text-transform: none !important;
    margin-bottom:10px; 
 }
 .views-field.views-field-field-technologies-descri{
    color: #212121;
    font-family: Roboto,Helvetica,Arial,Sans-Serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    margin-bottom: 20px;
 }
 .views-field.views-field-field-technologies-images {
     img{
         width: 16%;
     }
}
}
}
#block-howdoweworkwiththese{
    width: 100%;
    margin: 0;
    padding: 60px 50px;
    background-image: url(https://www.axelerant.com/hubfs/Axelerant_Facelift_2017/Page%20Banners/Technology%20Page/Technologies-Header-Desktop.jpg?t=1526480543654);
    .block-title {
        font-size: 2em;
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        text-transform: capitalize !important;
    }
    .btn{
        cursor: pointer !important;
        user-select: none !important;
        display: inline-block !important;
        font-weight: normal !important;
        text-align: center !important;
        text-decoration: none !important;
        font-family: sans-serif important;
        background: rgb(252,76,2) !important;
        color: rgb(255, 255, 255) !important;
        border-radius: 6px !important;
        border-width: 0px !important;
        transition: all .4s ease !important;
        -moz-transition: all .4s ease !important;
        -webkit-transition: all .4s ease !important;
        -o-transition: all .4s ease !important;
        text-shadow: none !important;
        line-height: 1.5em !important;
        padding: 6px 18px !important;
        font-size: 19px;
    }
}
.container {
  max-width: 1190px;
}
.path-user .js-form-item.form-item.js-form-type-textfield.form-item-name.js-form-item-name{
    display: block;
}
